<h1>Travels#index</h1>
<p>Find me in app/views/travels/index.html.erb</p>


<h1>Travels</h1>

<ul>
  <% @travels.each do |travel| %>
    <li>
      <%= link_to travel.city, travel %>
      <%= link_to travel.country, travel %>
    </li>
  <% end %>
</ul>

<%= link_to "New Travel", new_travel_path %>