<h1>Travel Show Page</h1><br>

<%= render partial: "travel", locals: {travel: @travel} %>

<%= button_to "Delete", [@travel.location, @travel], method: :delete, data: { confirm: "Are you sure?" } %>


