
<h1>New location</h1>

<% if @location %>
  <h1> New Location for <%=@location.city%>!</h1>
<% else %>  
  <h1>New Location!</h1>
<% end %>

<%= render partial: "form" %>
<%= link_to 'Back', locations_path %>

<!--<%= render partial: "form", locals: {location: @location} %>-->

